.services-section {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.services-section h2 {
  padding: 4rem;
  font-size: 48px;
  font-family: "Gloock", serif;
  color: #012e38;
}

.servicios-container {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 840px) {
  .servicios-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
  }
}
