.profile-btn {
  display: flex;
  cursor: pointer;
  width: auto;
  height: 35px;
  padding: 10px 15px;
  line-height: 30px;
  align-items: center;
  justify-content: space-around;
  gap: 0.3rem;
  font-weight: 600;
  color: var(--primary-color);
  outline: none;
  border-radius: 2px;
  border: none;
}

.profile-btn:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.profile-btn-icon {
  font-size: 16px;
  transition: transform 500ms;
}

.profile-btn:hover .profile-btn-icon {
  transform: translate(5px);
}
