@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

.slider-container {
  background-color: #002128ce;
  color: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.countiner-style {
  height: 100%;
  position: relative;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;
  position: absolute;
  z-index: 3;
  color: aliceblue;
  top: 40%;
  left: 15%;
}

.description-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.description h1 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  font-family: "Gloock", serif;
}

.description p {
  font-size: 1.375rem;
  font-style: italic;
}

.carousel-boullt {
  display: flex;
}

.carousel-boullt span {
  display: none;
  width: 1rem;
  height: 1rem;
  background-color: rgb(179, 178, 176);
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 3px 2px 2px rgba(73, 72, 72, 0.338);
}

.carousel-boullt span:hover {
  background-color: white;
}

.transparent-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: #002128ce;
}

@media screen and (max-width: 800px) {
  .description {
    width: 90%;
    top: 45%;
    left: 15%;
  }

  .description h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }

  .description p {
    font-size: 1.05rem;
    font-style: italic;
  }
}

@media screen and (max-width: 500px) {
  .description {
    width: 100%;
    top: 50%;
    left: 10%;
  }

  .description h1 {
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
  }
  .description-info {
    width: 60%;
  }
  .description p {
    font-size: 0.9rem;
    font-style: italic;
  }
}
