.source-card {
  display: flex;
  width: 450px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.source-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 35%;
  background-color: var(--primary-color);
}

.info-btn {
  background-color: transparent;
  width: 50%;
  height: 40px;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;

  font-weight: bold;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: all 400ms;
}

.info-btn-icon {
  margin-right: 0.5rem;
  color: white;
  font-size: 10px;
}

.info-btn:hover {
  box-shadow: 0px 0px 5px white;
}

.source-info p {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  color: white;
  font-family: "Gloock", serif;
}

.vid-container {
  width: 65%;
  height: 150px;
  overflow: hidden;
  transition: all 500ms;
  position: relative;
}

.ver-video {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  color: white;
  font-weight: bolder;
  font-size: 60px;
  cursor: pointer;
  transition: all 600ms;
  border-radius: 50%;
}

.ver-video:hover {
  box-shadow: 0px 0px 15px white;
}

.vid-container:hover .ver-video {
  display: block;
}

.source-vid {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-radius: 0px 3px 3px 0px;
  transition: all 1s;
}

.vid-container:hover .source-vid {
  transform: scale(1.1);
}

@media screen and (max-width: 640px) {
  .source-card {
    width: 95vw;
  }

  .vid-container {
    border-radius: 0px 3px 3px 0px;
  }
}
