.profile-card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  min-height: 470px;
  background-color: var(--primary-color);
}

.profile-card-image {
  max-width: 100%;
  object-fit: cover;
  justify-content: center;
  width: 320px;
  height: 320px;
  filter: grayscale(100%);
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-top: 1.5rem;
  overflow: hidden;
  border-left: 3px solid var(--primary-color);
  border-right: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.profile-name {
  color: white;
  font-family: "Gloock", serif;
  font-size: 24px;
  letter-spacing: 0.1rem;
}

.profile-competences {
  color: var(--tertiary-color);
  font-size: 12px;
  text-transform: uppercase;
}

.profile-btn-panel {
  display: flex;
  gap: 1rem;
}

/*  ESTILO DE BOTONES */

.profile-btn {
  display: flex;
  cursor: pointer;
  width: auto;
  height: 35px;
  padding: 10px 15px;
  line-height: 30px;
  align-items: center;
  justify-content: space-around;
  gap: 0.3rem;
  font-weight: 600;
  color: var(--primary-color);
  outline: none;
  border-radius: 2px;
  border: none;
}

.profile-btn:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.profile-btn-icon {
  font-size: 16px;
  transition: transform 500ms;
}

.profile-btn:hover .profile-btn-icon {
  transform: translate(5px);
}
