.works-service-container {
  display: inline-block;
  width: 110px;
  min-width: 110px;
  height: 110px;
  margin: 0 0.5rem;
  border-radius: 3px;
  border: 0;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.works-service-img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  justify-content: center;
  transition: all 400ms;
}

.works-service-container:hover .works-service-img {
  transform: scale(1.1);
}

.works-service-title {
  padding: 0.2rem;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2rem;
  color: white;
  text-align: center;

  font-size: 11px;
  background-color: var(--overlay);
}
