:root {
  --primary-color: #012e38;
  --primary-dark: #4f9c55;
  --secondary-color: white;
  --secondary-dark: #e3d002;
  --tertiary-color: lightskyblue;
  --overlay: #012e38e6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "DIN Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
}

code {
  font-family: "DIN Pro", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
